@mixin clearfix {
  &:after,
  &:before {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}

@mixin centered() {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}