- var title = "404 - Not Found"
include common/_head
body
  <!--[if lt IE 7]>
  <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
  <![endif]-->
  .wrap
    .page404
      .page404__title 404 <br> Not Found
      .page404__img
        img(src="assets/img/404.jpg", alt="Not Foud")
