- var title = "Dmitriy Shved - авторизация"
include common/_head
body
  <!--[if lt IE 7]>
  <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
  <![endif]-->
  .error(style= data.display)
    .error__container
      a(href="#").error__close
        i(class="fa fa-times-circle" aria-hidden="true")
      .error__message= data.msg
  div.wrapper.bg-auth
    .card-auth
      .card__login
        .login__header Авторизуйтесь
        form#auth(action='/auth' method="POST")
          .input-group
            span.input-group-addon
              i.fa.fa-user.fa-fw
            input#user_login.form-control(type='text', name='login', placeholder='Логин')
          .input-group
            span.input-group-addon
              i.fa.fa-key.fa-fw
            input#user_pass.form-control(type='password', name='password', placeholder='Пароль')
          .input-group
            input#user_human.checkbox(type='checkbox')
            label(for="user_human") Я человек
          .input-group
            .robot__text А вы точно не робот?
            input#human_yes.radio(type="radio" name='human' disabled)
            label(for="human_yes") Да
            input#human_no.radio(type="radio" name='human' disabled)
            label(for="human_no") Не уверен
          .button-group
            a.btn.btn-index_auth(href="/")
              span На главную
            button#btn_auth.btn.btn__right(type='submit') Войти
  .copy
    span © Дмитрий Швед | создано с любовью в LoftSchool | 2016