- var title = "Dmitriy Shved - мой блог"
include common/_head
script(type='text/javascript').
  hljs.initHighlightingOnLoad();
body
  <!--[if lt IE 7]>
  <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
  <![endif]-->
  div.wrapper
    include common/_header
    section.info-blog
      .user-info
        .user__img
          img(src="/img/user.jpg", alt="Это я!")
        .blog-header Блог
        .blog-desc Статьи которые я написал
        .blog-pic
          +icon('blog_header')
      a(href="#blog").goto
        +icon('arrow_down', 26)
      .box-tranigle
        svg.traingle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
          polygon(fill='#eeebdf' points='0,0   0,86   500.8,86   500.8,75.5')
          polygon(fill='#eeebdf' points='1000,0   1000,86   500,86   500,75.5')
    section.blog#blog
      .blog__inner
        sidebar.sidebar
          .sidebar__inner
            ul.sidebar__list
              li.sidebar__items
                a.sidebar__link(href="#sass") Полная совместимость с CSS
              li.sidebar__items
                a.sidebar__link(href="#hack") Без чего не обходится ни один интернет-магазин?
              li.sidebar__items
                a.sidebar__link(href="#gulp") Самый необходимый набор Gulp плагинов
              li.sidebar__items
                a.sidebar__link(href="#jade")  Почему я выбрал Jade
        .blog__content
          article.article#article
            .article__header#sass Полная совместимость с CSS
            .article__date 22 ноября 2016
            .article__text.
              Sass полностью совместим со всеми версиями CSS. Мы уделяем серьезное внимание 
          article.article
            .article__header#hack Без чего не обходится ни один интернет-магазин?
            .article__date 22 ноября 2016
            .article__text.
              Когда перед владельцем бизнеса возникает задача продать что-либо, используя ресурсы 
          article.article
            .article__header#gulp Самый необходимый набор Gulp плагинов
            .article__date 15 мая 2016
            .article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. 
          article.article
            .article__header#jade Почему я выбрал Jade
            .article__date 22 ноября 2016
            .article__text Таким образом начало повседневной работы по формированию позиции
  include common/_footer