- var title = "Dmitriy Shved - мой блог"
include common/_head
script(type='text/javascript').
  hljs.initHighlightingOnLoad();
body
  <!--[if lt IE 7]>
  <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
  <![endif]-->
  div.wrapper
    include common/_header
    section.info-blog
      .user-info
        .user__img
          img(src="/img/user.jpg", alt="Это я!")
        .blog-header Блог
        .blog-desc Статьи которые я написал
        .blog-pic
          +icon('blog_header')
      a(href="#blog").goto
        +icon('arrow_down', 26)
      .box-tranigle
        svg.traingle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
          polygon(fill='#eeebdf' points='0,0   0,86   500.8,86   500.8,75.5')
          polygon(fill='#eeebdf' points='1000,0   1000,86   500,86   500,75.5')
    section.blog#blog
      .blog__inner
        sidebar.sidebar
          .sidebar__inner
            ul.sidebar__list
              li.sidebar__items
                a.sidebar__link(href="#sass") Полная совместимость с CSS
              li.sidebar__items
                a.sidebar__link(href="#hack") Без чего не обходится ни один интернет-магазин?
              li.sidebar__items
                a.sidebar__link(href="#gulp") Самый необходимый набор Gulp плагинов
              li.sidebar__items
                a.sidebar__link(href="#jade")  Почему я выбрал Jade
        .blog__content
          article.article#article
            .article__header#sass Полная совместимость с CSS
            .article__date 22 ноября 2016
            .article__text.
              Sass полностью совместим со всеми версиями CSS. Мы уделяем серьезное внимание совместимости, поэтому вы можете легко использовать любые доступные библиотеки CSS.
              <br><br><b>Богатый функционал</b><br>
              Sass может похвастаться большим количеством возможностей, чем любой другой язык расширения CSS. Команда Sass Core бесконечно работает не только для поддержания этих возможностей, но и для того, чтобы быть впереди.
              <br><br><b>Опыт</b><br>
              Sass находится в активной разработке более 8 лет.
              <br><br><b>Поддержка индустрией</b><br>
              Снова и снова сообщество разработчиков выбирает Sass как главное средство написания CSS.
              <br><br><b>Большое сообщество</b><br>
              Sass активно поддерживается и разрабатывается консорциумом высокотехнологичных компаний и нескольких сотен разработчиков.
              <br><br><b>Фреймворки</b><br>
              Есть бесконечное количество фреймворков, построенных на Sass. Compass, Bourbon, и Susy - это только несколько примеров из всего количества.
            <pre>
              <code class="sass">
                | # Convert Sass to SCSS
                | $ sass-convert style.sass style.scss

                | # Convert SCSS to Sass
                | $ sass-convert style.scss style.sass
              </code>
            </pre>

          article.article
            .article__header#hack Без чего не обходится ни один интернет-магазин?
            .article__date 22 ноября 2016
            .article__text.
              Когда перед владельцем бизнеса возникает задача продать что-либо, используя ресурсы Всемирной паутины, то первым делом встаёт вопрос о платформе, которая бы обеспечила эффективную коммуникацию с покупателем. Говоря попросту, интернет магазин. И чем качественнее будет найдено решение, тем большую отдачу от виртуального канала вы сможете получить. Взаимодействие ведётся на всех уровнях работы с клиентом, а потому каждый шаг покупателя должен быть логичен и продуман. Создание интернет магазина – это длительный процесс, требующий вдумчивого подхода как на этапе проектирования, так и последующего тестирования, отладки работы.
              <br><br>Каждый сайт индивидуален, однако общий принцип функционирования интернет-магазина остаётся типовым. Владельцу бизнеса необходимо лишь разработать дружественную для пользователя среду, где он без проблем сможет найти то, что ищет, оформить заказ, оплатить его и получить на руки.
          article.article
            .article__header#gulp Самый необходимый набор Gulp плагинов
            .article__date 15 мая 2016
            .article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. <br>Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          article.article
            .article__header#jade Почему я выбрал Jade
            .article__date 22 ноября 2016
            .article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. <br>Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

    


            
            
  include common/_footer