footer.footer
  .container
    .footer__copyright
      .copyright__info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
      .copyright__about © Дмитрий Швед <br>Создано с любовью в LoftSchool | 2016
    .footer__menu
      ul.footer-menu__list
        li.footer-menu__item
          a.footer-menu__link(href="works") Мои работы
        li.footer-menu__item
          a.footer-menu__link(href="about") Обо мне
        li.footer-menu__item
          a.footer-menu__link(href="blog") Блог
        li.footer-menu__item
          a.footer-menu__link(href="auth") Авторизация
      .social-menu
        ul.social-menu__list
          li.social-menu__item
            a.social-menu__link(href="https://vk.com/dshved" target="_blank")
              span
                +icon('vk', 32)
          li.social-menu__item
            a.social-menu__link(href="https://github.com/dshved" target="_blank")
              +icon('github', 26)
          li.social-menu__item
            a.social-menu__link(href="https://linkedin.com/dshved" target="_blank")
              +icon('in', 26)
    .footer__contact
      ul.footer-contact__list
        li.footer-contact__item
          a.footer-contact__link(href="skype:live:dshved") live:dshved
        li.footer-contact__item
          a.footer-contact__link(href="mailto:dshved@hotmail.com") dshved@hotmail.com
        li.footer-contact__item
          a.footer-contact__link(href="tell:+79816863686") +79816863686
        li.footer-contact__item Россия, Санкт-Петерубург