.info-blog {
  position: relative;
  // z-index: -1;
  margin-top: -100px;
  padding-top: 110px;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  .user__img {
    z-index: 2;
    position: relative;
    left: 50%;
    width: 141px;
    height: 141px;
    margin-left: -70px;
    margin-bottom: 20px;
    border-radius: 50% 50%;
    background-clip: padding-box;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .user__name {
    z-index: 2;
    margin-bottom: 5px;
    color: #fff;
    font-family: "RobotoMedium";
    font-size: 28px;
  }
  .user__desc {
    z-index: 2;
    margin-bottom: 25px;
    opacity: .8;
    color: #fff;
    font-family: "RobotoRegular";
    font-size: 16px;
  }
}

.blog-pic {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  fill: rgba(#cd8920, .2);
  svg {
    width: 100%;
    height: 100%;
  }
}

.box-tranigle {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: -10px auto;
  @include phone {
    margin: -5px auto;
  }
  @include phoneL {
    margin: -5px auto;
  }
}

.blog-header {
  z-index: 2;
  position: relative;
  width: 250px;
  color: #fff;
  margin: 0 auto;
  font-family: "SansusWebissimoRegular", sans-serif;
  font-size: 63px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  &:before,
  &:after {
    position: absolute;
    margin-top: -7px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 14px;
    background-image: url('../img/ellipse_w.png');
  }
  &:before {
    top: 50%;
    left: 0;
    margin-right: 5px;
  }
  &:after {
    top: 50%;
    right: 0;
    margin-left: 5px;
    transform: rotateY(180deg);
  }
  @include phone {
    width: 185px;
    font-size: 35px;
  }
  @include phoneL {
    width: 185px;
    font-size: 35px;
  }
}

.blog-desc {
  text-align: center;
}

.blog {
  width: 100%;
  background-color: #eeebdf;
  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    /*position: relative;*/
    padding-top: 50px;
    @include phone {
      width: 100%;
    }
    @include phoneL {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
    @include desctop {
      width: 100%;
    }
  }
  &__content {
    overflow: hidden;
    width: 70%;
    float: left;
    @include phone {
      width: 100%;
    }
    @include phoneL {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
    @include desctop {
      width: 70%;
    }
  }
  @include clearfix;
}

.sidebar {
  display: block;
  float: left;
  width: 300px;
  height: 1px;
  &__inner {
    float: left;
    // width: 300px;
    margin: 0 10px;
    @include phone {
    margin: 0;
    width: 270px;
    position: fixed;
    top: 30%;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: -45px;
        width: 30px;
        height: 50px;
        margin-top: -25px;
        background-color: #e7a731;
        border-radius: 50%;
        cursor: pointer;
        z-index: 55;
        box-shadow: 3px 0 3px rgba(0,0,0,.2);
      }
    }
    @include phoneL {
    margin: 0;
    width: 270px;
    position: fixed;
    top: 30%;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: -45px;
        width: 30px;
        height: 50px;
        margin-top: -25px;
        background-color: #e7a731;
        border-radius: 50%;
        cursor: pointer;
        z-index: 55;
        box-shadow: 3px 0 3px rgba(0,0,0,.2);
      }
    }
    @include tablet {
      margin: 0;
    width: 270px;
    position: fixed;
    top: 30%;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: -45px;
        width: 30px;
        height: 50px;
        margin-top: -25px;
        background-color: #e7a731;
        border-radius: 50%;
        cursor: pointer;
        z-index: 55;
        box-shadow: 3px 0 3px rgba(0,0,0,.2);
      }
    }
  }
  &__list {
    width: 270px;
    margin-top: 10px;
    display: block;
    text-align: right;
    @include phone {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
    @include phoneL {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }
  &__items {
    display: table-row;
    vertical-align: middle;
  }
  &__link {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    color: #5d5955;
    &:visited {
      color: #5d5955;
    }
    &.active {
      color: #cc881f;
      transition: all .25s;
    }
    &.active:after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      content: '';
      width: 2px;
      height: 100%;
      margin-right: -10px;
      background-color: #cc881f;
      transition: all .25s;
    }
    &:hover {
      color: #cc881f;
      transition: all .25s;
    }
    &:hover:after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      content: '';
      width: 2px;
      height: 100%;
      margin-right: -10px;
      background-color: #cc881f;
      transition: all .25s;
    }
    @include phone {
      color: rgba(#fff, .8);
      &:visited {
        color: rgba(#fff, .8);
      }
      &:hover {
        color: rgba(#fff, .8);
        transition: all .25s;
      }
    }
    @include phoneL {
      color: rgba(#fff, .8);
      &:visited {
        color: rgba(#fff, .8);
      }
      &:hover {
        color: rgba(#fff, .8);
        transition: all .25s;
      }
    }
    @include tablet {
      color: rgba(#fff, .8);
      &:visited {
        color: rgba(#fff, .8);
      }
      &:hover {
        color: rgba(#fff, .8);
        transition: all .25s;
      }
    }
  }
  @include phone {
    display: block;
    position: absolute;
    top: 0;
    left: -300px;
    background-color: #e7a731;
    box-shadow: 3px 0 3px rgba(0,0,0,.2);
    height: 100%;
    z-index: 101;
    transition: all .5s;
  }
  @include phoneL {
    display: block;
    position: absolute;
    top: 0;
    left: -300px;
    background-color: #e7a731;
    box-shadow: 3px 0 3px rgba(0,0,0,.2);
    height: 100%;
    z-index: 50;
    transition: all .5s;
  }
  @include tablet {
    display: block;
    position: absolute;
    top: 0;
    left: -300px;
    background-color: #e7a731;
    box-shadow: 3px 0 3px rgba(0,0,0,.2);
    height: 100%;
    z-index: 50;
    transition: all .5s;
  }
  @include desctop {
    width: 30%;
  }
  @include clearfix;
}

.sidebar__active {
  left: 0;
}

.fixed {
  position: fixed;
  width: 30%;
  top: 0;
  @include phone {
    top: 30%;
    width: 270px;
  }
  @include phoneL {
    top: 30%;
    width: 270px;
  }
  @include tablet {
    width: 270px;
    top: 30%;
  }
}

.article {
  display: block;
  margin: 0 60px 70px;
  @include phone {
    margin: 0px 20px 30px;
  }
  @include phoneL {
    margin: 0px 20px 30px;
  }
  &__header {
    color: #5d5955;
    font-family: "SansusWebissimoRegular", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    @include phone {
      font-size: 21px;
    }
    @include phoneL {
      font-size: 21px;
    }
  }
  &__date {
    opacity: .7;
    color: #cc881f;
    font-family: "RobotoRegular";
    font-size: 14px;
    margin-bottom: 25px;
  }
  &__text {
    color: #5d5955;
    font-family: "RobotoRegular";
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  border-bottom: 4px solid rgba(#373d41,
  .1);
  &:last-child {
    border-bottom: none;
  }
}
